h1{
color : white;
background: red;
padding: 20px;
}
p{
background: yellow;
}

button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: times new roman;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

body {
    background-color: white;
}

img {
    height: 350px;
    width: 750px;
}
select{
    padding: 10px;
    text-align: center;
    background-color: #f0ebeb;
    font-size: x-large;
    margin: -11px 6px;
}
input{
	background-color: #f8f9fa;
    padding: 3px 10px;
    border-radius: 2px 0 0 2px;
    font-size: 14px;
    height: 36px;
    width: 100%;
    border: 0;
    outline: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
