.hcenter{
text-align:center;
}
h1{
color : white;
background: red;
}
p{
background: yellow;
}

button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: times new roman;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

body {
    background-color: white;
}

img {
    height: 350px;
    width: 750px;
}